header {
  background: darkgoldenrod;
  padding: 20px 0;
}
.caixa {
  position: relative;
  width: 940px;
  margin: 0 auto;
}
nav {
  position: absolute;
  top: 110px;
  right: 0;
}
nav li {
  display: inline; /*Coloca todo o conteúdo na mesma linha*/
  margin: 0 0 0 15px; /*Margin segue a seguinte configuração : top right bottom left*/
}
nav a {
  text-transform: uppercase; /*Transforma o texto em maiúsculo*/
  color: black;
  font-weight: bold; /*Coloca o texto em negrito*/
  font-size: 22px;
  text-decoration: none;
}

.produtos {
  width: 940px;

  margin: 0 auto;
  padding: 50px 0;
}

.produtos li {
  display: inline-block;

  text-align: center;
  vertical-align: top;

  width: 30%;
  padding: 30px 20px;
  border: 2px solid black;

  box-sizing: border-box;
  border-radius: 10px;
}

.produtos h2 {
  font-size: 30px;
  font-weight: bold;
}

.descricaoProduto {
  font-size: 18px;
}

.precoProduto {
  font-size: 22px;
  font-weight: bold;

  margin-top: 10px;
}
